.dark-high-contrast {
  --md-sys-color-primary: rgb(229 241 255);
  --md-sys-color-surface-tint: rgb(152 204 249);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(148 200 245);
  --md-sys-color-on-primary-container: rgb(0 12 24);
  --md-sys-color-secondary: rgb(229 241 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(180 196 213);
  --md-sys-color-on-secondary-container: rgb(0 12 24);
  --md-sys-color-tertiary: rgb(247 236 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(205 187 227);
  --md-sys-color-on-tertiary-container: rgb(16 5 35);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(16 20 24);
  --md-sys-color-on-background: rgb(224 226 232);
  --md-sys-color-surface: rgb(16 20 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(66 71 78);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(235 240 248);
  --md-sys-color-outline-variant: rgb(190 195 202);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 226 232);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(7 76 115);
  --md-sys-color-primary-fixed: rgb(204 229 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(152 204 249);
  --md-sys-color-on-primary-fixed-variant: rgb(0 19 33);
  --md-sys-color-secondary-fixed: rgb(212 228 246);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(184 200 217);
  --md-sys-color-on-secondary-fixed-variant: rgb(3 18 31);
  --md-sys-color-tertiary-fixed: rgb(236 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(209 191 231);
  --md-sys-color-on-tertiary-fixed-variant: rgb(23 11 41);
  --md-sys-color-surface-dim: rgb(16 20 24);
  --md-sys-color-surface-bright: rgb(77 80 85);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(28 32 36);
  --md-sys-color-surface-container: rgb(45 49 53);
  --md-sys-color-surface-container-high: rgb(56 60 64);
  --md-sys-color-surface-container-highest: rgb(67 71 75);
}