.dark-medium-contrast {
  --md-sys-color-primary: rgb(192 224 255);
  --md-sys-color-surface-tint: rgb(152 204 249);
  --md-sys-color-on-primary: rgb(0 40 64);
  --md-sys-color-primary-container: rgb(98 150 192);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(206 222 240);
  --md-sys-color-on-secondary: rgb(24 39 52);
  --md-sys-color-secondary-container: rgb(130 146 163);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(231 213 254);
  --md-sys-color-on-tertiary: rgb(44 32 63);
  --md-sys-color-tertiary-container: rgb(154 138 175);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 24);
  --md-sys-color-on-background: rgb(224 226 232);
  --md-sys-color-surface: rgb(16 20 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(66 71 78);
  --md-sys-color-on-surface-variant: rgb(215 221 228);
  --md-sys-color-outline: rgb(173 178 186);
  --md-sys-color-outline-variant: rgb(139 145 152);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 226 232);
  --md-sys-color-inverse-on-surface: rgb(39 42 46);
  --md-sys-color-inverse-primary: rgb(7 76 115);
  --md-sys-color-primary-fixed: rgb(204 229 255);
  --md-sys-color-on-primary-fixed: rgb(0 19 33);
  --md-sys-color-primary-fixed-dim: rgb(152 204 249);
  --md-sys-color-on-primary-fixed-variant: rgb(0 57 89);
  --md-sys-color-secondary-fixed: rgb(212 228 246);
  --md-sys-color-on-secondary-fixed: rgb(3 18 31);
  --md-sys-color-secondary-fixed-dim: rgb(184 200 217);
  --md-sys-color-on-secondary-fixed-variant: rgb(40 56 69);
  --md-sys-color-tertiary-fixed: rgb(236 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(23 11 41);
  --md-sys-color-tertiary-fixed-dim: rgb(209 191 231);
  --md-sys-color-on-tertiary-fixed-variant: rgb(61 48 80);
  --md-sys-color-surface-dim: rgb(16 20 24);
  --md-sys-color-surface-bright: rgb(65 69 73);
  --md-sys-color-surface-container-lowest: rgb(5 8 11);
  --md-sys-color-surface-container-low: rgb(26 30 34);
  --md-sys-color-surface-container: rgb(36 40 44);
  --md-sys-color-surface-container-high: rgb(47 51 55);
  --md-sys-color-surface-container-highest: rgb(58 62 66);
}
