@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import 'tailwindcss';
@import './css/light.css';
@import './css/dark.css';

@font-face {
	font-family: 'Minecraft';
	src: url('/fonts/Minecraft.ttf') format('truetype');
}

@theme inline {
	--color-primary: var(--md-sys-color-primary);
	--color-surface-tint: var(--md-sys-color-surface-tint);
	--color-on-primary: var(--md-sys-color-on-primary);
	--color-primary-container: var(--md-sys-color-primary-container);
	--color-on-primary-container: var(--md-sys-color-on-primary-container);
	--color-secondary: var(--md-sys-color-secondary);
	--color-on-secondary: var(--md-sys-color-on-secondary);
	--color-secondary-container: var(--md-sys-color-secondary-container);
	--color-on-secondary-container: var(--md-sys-color-on-secondary-container);
	--color-tertiary: var(--md-sys-color-tertiary);
	--color-on-tertiary: var(--md-sys-color-on-tertiary);
	--color-tertiary-container: var(--md-sys-color-tertiary-container);
	--color-on-tertiary-container: var(--md-sys-color-on-tertiary-container);
	--color-error: var(--md-sys-color-error);
	--color-on-error: var(--md-sys-color-on-error);
	--color-error-container: var(--md-sys-color-error-container);
	--color-on-error-container: var(--md-sys-color-on-error-container);
	--color-background: var(--md-sys-color-background);
	--color-on-background: var(--md-sys-color-on-background);
	--color-surface: var(--md-sys-color-surface);
	--color-on-surface: var(--md-sys-color-on-surface);
	--color-surface-variant: var(--md-sys-color-surface-variant);
	--color-on-surface-variant: var(--md-sys-color-on-surface-variant);
	--color-outline: var(--md-sys-color-outline);
	--color-outline-variant: var(--md-sys-color-outline-variant);
	--color-shadow: var(--md-sys-color-shadow);
	--color-scrim: var(--md-sys-color-scrim);
	--color-inverse-surface: var(--md-sys-color-inverse-surface);
	--color-inverse-on-surface: var(--md-sys-color-inverse-on-surface);
	--color-inverse-primary: var(--md-sys-color-inverse-primary);
	--color-primary-fixed: var(--md-sys-color-primary-fixed);
	--color-on-primary-fixed: var(--md-sys-color-on-primary-fixed);
	--color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim);
	--color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant);
	--color-secondary-fixed: var(--md-sys-color-secondary-fixed);
	--color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed);
	--color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim);
	--color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant);
	--color-tertiary-fixed: var(--md-sys-color-tertiary-fixed);
	--color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed);
	--color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim);
	--color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant);
	--color-surface-dim: var(--md-sys-color-surface-dim);
	--color-surface-bright: var(--md-sys-color-surface-bright);
	--color-surface-container-lowest: var(--md-sys-color-surface-container-lowest);
	--color-surface-container-low: var(--md-sys-color-surface-container-low);
	--color-surface-container: var(--md-sys-color-surface-container);
	--color-surface-container-high: var(--md-sys-color-surface-container-high);
	--color-surface-container-highest: var(--md-sys-color-surface-container-highest);
}

@utility space-grotesk-* {
	font-family: 'Space Grotesk', sans-serif;
	font-optical-sizing: auto;
	font-weight: --value('300', '400', '500', '600', '700');
	font-style: normal;
}

@utility orbitron-* {
	font-family: "Orbitron", sans-serif;
	font-optical-sizing: auto;
	font-weight: --value('400', '500', '600', '700', '800', '900');
	font-style: normal;
}

@utility glass-* {
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(calc(--value(integer) * 1px));
		z-index: -1;
	}
}

@custom-variant standalone {
	@media (display-mode: standalone) {
		@slot;
	}
}

* {
	@apply space-grotesk-400;
	outline: none;
	box-sizing: border-box;
}

html, body {
	@apply m-0 p-0;
	@apply bg-background;
}

img {
	@apply select-none pointer-events-none;
}

body.minecraft * {
	font-family: 'Minecraft', monospace;
	cursor: url('/cursors/sword.cur'), auto;
}

/* .text-glitch .char.changing {} */